<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Course Manager</title>
  </head>
  <body>
    <!-- Main Body of Page -->
 <div class="container">
            <div class="row m-4">
                <div class="col text-center border border-dark">
                    <h1><a href="/" class="text-dark">Course Manager</a></h1>
                </div>
            </div>
            <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <a href="teachers" class="btn btn-outline-primary btn-lg">Teachers</a>
                </div>
                <div class="col text-center m-3">
                    <a href="students" class="btn btn-outline-primary btn-lg">Students</a>
                </div>
                <div class="col text-center m-3">
                    <a href="courses" class="btn btn-outline-primary btn-lg">Courses</a>
                </div>
            </div>
     
     <div class="row m-4 border border-dark">
                <div class="col-3 text-center m-3">
                    <span class="h3">Add Course</span>
                </div>
                <div class="col-7 text-center m-3">
                    <form action="addCourse" method="POST">
                        <div class="form-group row">
                            <label for="name" class="col-3 col-form-label">
                                Name</label>
                            <div class="col-9">
                                <input type="text" name="name" 
                                       id="name" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-3 col-form-label">
                                Description</label>
                            <div class="col-9">
                                <input type="text" name="description" 
                                       id="description" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="teacher" class="col-3 col-form-label">
                                Teacher</label>
                            <div class="col-9">
                                <select id="teacher" name="teacherId" class="form-control" >
                                    <option th:each="teacher : ${teachers}" 
                                            th:value="${teacher.id}" 
                                            th:text="${teacher.firstName + ' ' 
                                                + teacher.lastName}">
                                        Teacher Name</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="students" class="col-3 col-form-label">
                                Students</label>
                            <div class="col-9">
                                <select multiple id="students" name="studentId" 
                                        class="form-control" >
                                    <option th:each="student : ${students}" 
                                            th:value="${student.id}" 
                                            th:text="${student.firstName + ' ' 
                                                + student.lastName}">
                                        Student Name</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Course</button>
                    </form>
                </div>
            </div>
     
            <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Teacher</th>
                                <th>Details</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="course : ${courses}">
                                <td th:text="${course.id}">Course ID</td>
                                <td th:text='${course.name}'>Course Name</td>
                                <td th:text="${course.teacher.firstName + ' ' 
                                    + course.teacher.lastName}">Teacher  Name</td>
                                <a href="#" th:href="@{/courseDetail(id=${course.id})}">Details</a>
                                <a href="#" th:href="@{/editCourse(id=${course.id})}">Edit</a>
                                <a href="#" th:href="@{/deleteCourse(id=${course.id})}">Delete</a>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>   
    <!-- End main body -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
 <!--   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->
  </body>
</html>;

